.navbar {
    height: 100px;
    font-size: larger;
}

.navbar-brand img {
    margin-right: 7px;
}

.insta {
    filter: invert(100%);
}

.rodapeetec {
    margin-left: 10px;
}

.logorodape {
    margin: 5px;
}