body{
    font-family: 'Rubik', sans-serif;
    background-color: darkgrey;
}

.navbar {
    font-size: larger;
    margin-bottom: 40px;
}

.navbar-brand img {
    margin-right: 7px;
}

.header {
    width: 100%;
    height: 120px;
    margin: 0px;
}

.meio_contato {
    height: 100vh;
}

.logo {
    width: 140px;
    height: 100px;
    border-radius: 8px;
    margin-right: 25px;
}

.texto-contato {
    margin-top: 15px;
    color: black;
}

.separacao {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid brown;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#formulario-contato {
    padding: 15px 2px 15px 2px;
}

#formulario-contato input:focus-within {
    border: 2px solid black;
    box-shadow: 0 0 0 0;
}

#mensagem-contato {
    height: 120px;
}

#enviar-contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-enviar {
    width: 100px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-enviar:hover {
    background-color: rgb(204, 204, 204);
}

.titulo-redes {
    margin-top: 15px;
    margin-left: 16px;
    color: black;
}

.redes-contato {
    height: 45px;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.instagram:hover {
    background-image: linear-gradient(115deg, rgb(126, 3, 126), rgb(236, 83, 108), rgb(241, 206, 48));
    border: 1px solid black;
}

.face:hover {
    background-color: rgb(68, 68, 126);
    border: 1px solid black;
}

.twitter:hover {
    background-color: rgb(0, 183, 255);
    border: 1px solid black;
}

.img-redes {
    width: 25px;
    height: 25px; 
}

#container-number {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.phone {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 48%;
}

.number {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 15px;
}

.insta {
    filter: invert(100%);
}

.rodapeetec {
    margin-left: 10px;
}

.logorodape {
    margin: 5px;
}
