:root {
    --first-color: #E60013;
    --second-color: #414548;
    --tertiary-color: #989898;
    --quaternary-color: #00C3E3;
    --quinary-color: #FF4554;
    --senary-color: #ffffff;
    --septenary-color: #000000;
}

body{
    font-family: 'Rubik', sans-serif;
}

.navbar {
    font-size: larger;
}

.navbar-brand img {
    margin-right: 7px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.shop {
    background-color: #FF4554;
}

.card {
    padding-top: 8px;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img{
    height: 200px;
}

.card-buy-btn .btn{
    background-color: #E60013;
    border-color: #E60013;
}

h4 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.btn-primary:hover {
    background-color: #ff0000;
    border-color: red;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    margin-top: 10px;
}

.insta {
    filter: invert(100%);
}

.rodapeetec {
    margin-left: 10px;
}

.logorodape {
    margin: 5px;
}

@media (min-width: 576px){
    .carousel-item img {
        height: 500px;
    }
}