:root {
    --first-color: #E60013;
    --second-color: #414548;
    --tertiary-color: #989898;
    --quaternary-color: #00C3E3;
    --quinary-color: #FF4554;
    --senary-color: #ffffff;
    --septenary-color: #000000;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner{
    width: 100%;
}

.card {
    width: 35%;
    height: 600px;
}