:root {
    --first-color: #E60013;
    --second-color: #414548;
    --tertiary-color: #989898;
    --quaternary-color: #00C3E3;
    --quinary-color: #FF4554;
    --senary-color: #ffffff;
    --septenary-color: #000000;
}

.carousel-item img{
    height: 600px;
}

.card-buy-btn a {
    background-color: red;
    border-color: red;
}