:root{
    --primary-color:#034AA6;
    --second-color:#A7BDD9;
    --tertiary-color:#035AA6;
    --quaternary-color:#034CBC;
    --quinary-color:#F2F2F2;
}

.carousel-item img {
    height: 600px;
}

.row {
    margin-left: 0;
    margin-right: 0;
  }

.card-img-top{
    width: 250px;
    height: 250px;
}
