:root{
    --primary-color:#034AA6;
    --second-color:#A7BDD9;
    --tertiary-color:#035AA6;
    --quaternary-color:#034CBC;
    --quinary-color:#F2F2F2;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner{
    width: 100%;
}

.card {
    width: 35%;
    height: 600px;
}