body, .card{
    font-family: 'Rubik', sans-serif;
    background-color: darkgrey;
}

.navbar {
    font-size: larger;
}

.navbar-brand img {
    margin-right: 7px;
}

.card-inicial {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body-inicial {
    border: 2px solid brown;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-title {
    margin-bottom: 20px;
}

.card-text-inicial {
    margin-bottom: 3px;
    padding: 3px;
}

.passo {
    margin-top: 45px;
}

.card {
    border: none;
}

.img-GL {
    margin-top: 30px;
}

.img-git {
    margin-top: 12px;
}

.img-PA {
    margin-top: 18px;
}

.card-text-passo {
    text-align: center;
    margin-top: 10px;
}

.card-text-passo2 {
    text-align: center;
    margin-top: 7px;
}

.card-text-passo3 {
    text-align: center;
    margin-top: 15px;
}

.card-text-passo4 {
    text-align: center;
    margin-top: 24px;
}

.ligacao {
    height: 60px;
    border-bottom: 1px solid brown;
}

.text-title {
    margin-top: 100px;
}

.text-title2 {
    margin-top: 45px;
}

.separacao {
    border: 1px solid brown;
    margin-bottom: 10px;
}

.card-img {
    border-radius: 50%;
    margin-top: 10px;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 0;
    padding: 0;
}

.insta {
    filter: invert(100%);
}

.rodapeetec {
    margin-left: 10px;
}

.logorodape {
    margin: 5px;
}