:root{
    --primary-font-style: 'Roboto';
    --second-font-style: 'Arial';
}

body{
    font-family: 'Rubik', sans-serif;
}

.navbar {
    height: 100px;
    font-size: larger;
}

.navbar-brand img {
    margin-right: 7px;
}

.lema{
    color: #000000;
}

#playstation {
    background-color: #035AA6;
}

#xbox {
    background-color: #11730e;
}

#nintendo {
    background-color: #E60013;
}

footer {
    margin: 0;
    padding: 0;
}

.insta {
    filter: invert(100%);
}

.rodapeetec {
    margin-left: 10px;
}

.logorodape {
    margin: 5px;
}

.conteudo-playstation, .conteudo-xbox, .conteudo-nintendo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}