body{
    font-family: 'Rubik';
}

.kratos-img {
    width: 195px;
    height: 195px;
}

.play-logo {
    height: 60px;
    width: 80px;
}

.lema{
    color: #000000;
    font-size: 10px;
}

.play-gif{
    height: 100px ;
    width: 100px;
}

.xbox-chief{
    width: 160px;
    height: 190px;
}

.xbox-logo{
    width: 70px;
    height: 70px;
}

.xbox-gif{
    width: 70px;
    height: 70px;
}

.pokemon-img{
    width: 135px;
    height: 135px;
}

.nint-logo{
    width: 60px;
    height: 60px;
}

.nint-gif{
    width: 70px;
    height: 70px;
}

.logorodape {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.insta-img{
    width: 20px;
    height: 20px;
}

.menu-logo{
    width: 30px;
    height: 30px;
}

footer {
    margin: 0;
    padding: 0;
}

@media (min-width: 576px){
    body{
        font-family: 'Rubik';
    }

    .lema{
        font-size: 20px;
    }

    .kratos-img {
        width: 500px;
        height: 500px;
    }

    .play-logo {
        width:200px;
        height:150px;
    }

    .play-gif{
        width: 250px;
        height: 250px;
    }

    .xbox-chief{
        width:400px;
        height:500px;
    }

    .xbox-logo{
        width:150px; 
        height:150px;
    }

    .xbox-gif{
        width:200px;
        height:200px;
    }

    .pokemon-img{
        width: 500px;
        height: 500px;
    }

    .nint-logo{
        width:200px;
        height:200px;
    }

    .nint-gif{
        width:200px; 
        height:200px;
    }

    .logorodape{
        width:80px; 
        height:80px;
        margin: 5px;
    }

    .insta-img{
        width: 30px;
        height: 30px;
    }

    .menu-logo{
        width:65px;
        height:65px;
    }

    footer {
        margin: 0;
        padding: 0;
    }
}

.navbar {
    font-size: larger;
}

.navbar-brand img {
    margin-right: 7px;
}

#playstation {
    background-color: #035AA6;
}

#xbox {
    background-color: #11730e;
}

#nintendo {
    background-color: #E60013;
}

.insta {
    filter: invert(100%);
}

.conteudo-playstation, .conteudo-xbox, .conteudo-nintendo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}