:root {
    --primary-color: #0d8c08;
    --second-color: #11730e;
    --tertiary-color: #245922;
    --quaternary-color: #c4f2bd;
    --quinary-color: #f2f2f2;
}

body{
    font-family: 'Rubik', sans-serif
}

.navbar {
    font-size: larger;
}

.navbar-brand img {
    margin-right: 7px;
}

.carousel-item img {
    height: 200px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    margin-top: 10px;
    border-radius: 15px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.shop {
    background-color: #c4f2bd;
}

.card-img-top{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

h4 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.btn {
    background-color: #0d8c08;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    margin-top: 10px;
}

.insta {
    filter: invert(100%);
}

.rodapeetec {
    margin-left: 10px;
}

.logorodape {
    margin: 5px;
}

@media (min-width: 576px){
    .carousel-item img {
        height: 500px;
    }
}