:root {
    --primary-color: #0d8c08;
    --second-color: #11730e;
    --tertiary-color: #245922;
    --quaternary-color: #c4f2bd;
    --quinary-color: #f2f2f2;
}

.carousel-item img {
    height: 600px;
}